@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Arthur's Music Lounge</h1>
</div>
<img src="~/images/music.jpg"
     class="img-fluid rounded" />

@*Text required to be in 2 columns 
    wrap both paragraphs in a div class=row element
    Bootstrap uses 12 columns, so split these columns
    and you can use 5-7, or 6-6 or 4-8 as below
*@
<div class="row">
<p class="col-md-5">
    The name of my store will be Arthur's Music Lounge The name of my application will be Music Genres The app will read all the music you have in your library and sort each one out by each genre such as Rock,Pop,Rap,House,R&B,Electro etc. This app will then sort each song of each genre alphabetically
</p>

<p class="col-md-7">
   I love music and I is a big part of my life so I feel it is good to help people with integrating music more in their lives aswell
</p>
</div>